/* Layout.css */

.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
}

.layout-banner {
    background-color: pink;
    color: rgb(54, 54, 162);
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}



.layout-banner:hover {
    background-color: #ff9cc6;
    text-decoration: underline;
}

.layout-content {
    flex: 1;
    padding: 20px;
    background-color: #56a3ba;
}
